@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome</h1>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Patients</h2>
            <p>
            </p>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Patients/Index")">Click Here &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Reports</h2>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Patients/Index")">Click Here &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Rating</h2>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Rating/Index")">Click Here &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Send Email</h2>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Email/Index")">Click Here &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Appointments</h2>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Appointments/Index")">Click Here &raquo;</a></p>
        </section>
    </div>
</main>

